{{ define "main" }}
<!-- "main" content, see layouts >_default > baseof.html
for our overarching template for the whole site -->
  <main>
    <section class="splash">
      <!-- these silly squiggles allow us to insert different variables
      to allow for different descriptions for different languages!
      -->
      <div>
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ .Site.Params.description }}</h2>
        <h3>{{ .Site.Params.secondDescription }}</h3>
      </div>

      <div class="splash-aligner" style="margin-top: -2em;">
          <div>
            <img src="images/app-icons/hermiepatchwork.svg" alt="double hermie!!">
          </div>
          <div>
            <a class="button" href="get-started">{{ i18n "get_started" . }}</a>
          </div>
          <div>
            <img src="images/app-icons/hermiepatchbay.svg" alt="hermie!">
          </div>
      </div>
    </section>



    <section class="video-background">
      <h2><mark>A Scuttlebutt </mark></h2>
      <h2><mark>Love Story</mark></h2>
      <div class="splash-video">
          <div class="vimeo" data-id="236358264" data-thumb="658435922">
            <div class="vimeo-play-button"></div>
          </div>
      </div>
    </section>

    <section id="proof-we-legit" class="bulletin">
      <header class="bulletin--header">
        <h2>The Decentralised Web</h2>
        <h3>It's time to build our own Internet</h3>
        <p><a href="/docs/talks/">We're talking about it and gossiping on it</a></p>
      </header>

      <div class="bulletin--grid">
        <figure class="bulletin--item">
            <div class="youtube" data-embed="27Iv8Jf4vZ0">
              <div class="play-button"></div>
            </div>
            <a href="https://letstalkbitcoin.com/blog/post/epicenter-dominic-tarr-secure-scuttlebutt-the-localized-but-distributed-social-network">
            <div class="bulletin--caption">
              <p>The Localized but Distributed Social Network - 2019</p>
            </div>
            </a>
        </figure>
        <figure class="bulletin--item">
            <div class="youtube" data-embed="JSWWkzsHhjk">
              <div class="play-button"></div>
            </div>
            <a href="https://youtu.be/JSWWkzsHhjk" target="_blank">
            <div class="bulletin--caption">
              <p>Scuttlebutt and a Decentralized Future - 2018</p>
            </div>
          </a>
        </figure>
        <figure class="bulletin--item">
          <div class="youtube" data-embed="8GE5C9-RUpg">
            <div class="play-button"></div>
          </div>
          <a href="https://www.youtube.com/watch?v=8GE5C9-RUpg" target="_blank">
            <div class="bulletin--caption">
              <p>Reinvent the Social Web <br> André Staltz @ FullStackFest - 2018</p>
            </div>
          </a>
        </figure>
      </div>
      <div style="padding: 1%;">
        <p align="center"><a href="/docs/talks/" class="dotted dark">see more videos</a></p>
      </div>
    </section>

    <section id="quote">
      <span class="quotes">❝</span>
      <h2><mark>
        Scuttlebutt can be transformative for society, decentralizing and enabling
        local community development free of big corp. It is a fast growing
        decentralized social network. As an alternative to the large corporate social
        networks it enables autonomy for the users and a free zone from big data
        harvesting...</mark>
      </h2>
       <span class="quotes flex-end">❞</span>
    </section>

    <footer>
      <h1 align="center">
      <img
          alt="Hermies the hermit crab"
          src="/images/ssbc.png"
          width="100"
          height="100"
        />
      </h1>

      <div>
        <h1>
          Secure Scaleable Scuttlebutt
        </h1>
      </div>
      <div class="flex-row directory">
        <a href="about"><h2>{{ i18n "about" . }}</h2></a>
        <a href="get-started"><h2>{{ i18n "get_started" . }}</h2></a>
        <a href="docs"><h2>{{ i18n "docs" . }}</h2></a>
        <a href="https://opencollective.com/secure-scuttlebutt-consortium#section-updates"><h2>{{ i18n "news" . }}</h2></a>
      </div>
      
    </footer>
  </main>

{{ end }}
